<link rel="stylesheet" href="css/about.css">

<div class="container about-container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="about-title">Sobre nosotros</h1>
      <div class="about-content">
        <p>Somos Iesous Blanco y Yohnbel Rodriguez, dos estudiantes universitarios con una pasión por la tecnología y la innovación.</p>
        <p>Iesous es un apasionado de la programación y el desarrollo de software, y ha creado varias aplicaciones móviles populares en su tiempo libre. Yohnbel, por otro lado, es un diseñador gráfico talentoso y ha trabajado en varios proyectos creativos que han ganado reconocimiento en la comunidad de diseño.</p>
        <p>Juntos, combinamos nuestras habilidades y conocimientos para crear soluciones digitales únicas e innovadoras que ayudan a las empresas a mejorar su presencia en línea.</p>
        <p>En nuestro tiempo libre, nos encanta explorar nuevas tecnologías y experimentar con nuevas ideas. También somos ávidos viajeros y hemos visitado más de 20 países en todo el mundo. Creemos que la creatividad y la innovación son fundamentales para el éxito en cualquier campo y estamos comprometidos a seguir aprendiendo y creciendo en nuestras carreras.</p>
      </div>
    </div>
  </div>
</div>