<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Resgitro de estudiantes</h1>
    <p class="lead">Por Yohnbel Rodriguez e Iesous Blanco</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Más información</a>
  </div>
</div>

<!-- Contenido principal -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Título de la sección 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        ultricies, massa eget sagittis dignissim, purus leo vehicula tellus, vel
        venenatis est odio at enim.</p>
      <a class="btn btn-secondary" href="#" role="button">Leer más &raquo;</a>
    </div>
    <div class="col-md-4">
      <h2>Título de la sección 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        ultricies, massa eget sagittis dignissim, purus leo vehicula tellus, vel
        venenatis est odio at enim.</p>
      <a class="btn btn-secondary" href="#" role="button">Leer más &raquo;</a>
    </div>
    <div class="col-md-4">
      <h2>Título de la sección 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        ultricies, massa eget sagittis dignissim, purus leo vehicula tellus, vel
        venenatis est odio at enim.</p>
      <a class="btn btn-secondary" href="#" role="button">Leer más &raquo;</a>
    </div>
  </div>
</div>