<link rel="stylesheet" href="css/index.css">

<div class="jumbotron">
  <div class="container">
    <h1 class="title">Registro de estudiantes</h1>
    <p class="subtitle">Por Yohnbel Rodriguez e Iesous Blanco</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <p class="description">Este proyecto es nuestro trabajo de fin de grado para el Instituto Universitario de Tecnología Venezuela (IUTV), específicamente para el departamento de Administración. El objetivo del proyecto es registrar y mantener el control de la información de los pagos de los estudiantes.</p>
    </div>
  </div>
</div>