/* Estilos para la barra de navegación */
nav {
  background-color: #007bff;
}

.navbar-brand {
  font-weight: bold;
  color: #796d6d;
}

.nav-link {
  color: #796d6d !important;
}

/* Estilos para el contenido principal */
main {
  padding: 30px 15px;
  margin-top: 20px;
  background-color: #eaeef1;
  border-radius: 5px;
}

/* Estilos para el pie de página */
footer {
  background-color: #343a40;
  color: #fff;
  font-size: 14px;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}

footer h5 {
  color: #fff;
  margin-bottom: 15px;
}

/* Estilos para los enlaces en los bloques de contenido */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para los botones */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Estilos para los campos de formulario */
.form-control {
  border-radius: 5px;
}

/* Estilos para las alertas */
.alert {
  border-radius: 5px;
}
