main.container {
  /* max-width: 300px; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header, footer {
  padding: 10px;
  background-color: #ccc;
}

header {
  align-self: flex-start;
}

/* footer {
  align-self: flex-end;
} */

/* Agrega un margen alrededor del main */
main {
  margin: 20px;
}

/* Oculta el scrollbar */
body::-webkit-scrollbar {
  display: none;
}
