<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Condiciones de uso</h5>
        <p>Somos dos estudiantes universitarios dedicados y comprometidos con nuestra universidad. Este proyecto surge como una iniciativa para ayudar y contribuir al mejoramiento de la educación en nuestra comunidad.</p> 
      </div>
      <div class="col-md-6">
        <p>Este sitio web es propiedad de Iesous Blanco y Yohnbel Rodriguez, estudiantes universitarios, y está destinado para fines educativos. Al utilizar este sitio, usted acepta los términos y condiciones de uso establecidos. Cualquier uso no autorizado del contenido de este sitio web está prohibido.</p>
      </div>
    </div>
  </div>
</footer>
