<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo y botón de colapso para móvil -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">PROYECTO ESPECIAL DE GRADO</a>

    <!-- Elementos del menú -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <!-- Elementos del lado izquierdo -->
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre Nosotros</a>
        </li>
      </ul>

      <!-- Elementos del lado derecho -->
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <!-- Dropdown para opciones de usuario -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Usuario
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userDropdown"
            >
              <a class="dropdown-item" href="/registro/add">Agregar estudiante</a>
              <a class="dropdown-item" href="/registro/estudiantes">Ver
                estudiantes registrados</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrarse</a>
          </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>